<app-navbar></app-navbar>
<app-slidebar></app-slidebar>

<div class="container" id="back" style="position:absolute;left:15.4%;width:84.5%;color:white;min-height:100vh">
  <div id="box1" >
      <h2 class="page-header">User Details</h2>
      <br><br>
      <!-- <app-loading-spinner *ngIf="showSpinner" style="position:absolute;left:45%;"></app-loading-spinner> -->
      <table cellspacing=25px style="position:relative;left:5%;width:90%;">
        <tr>
          <th>
            <font size=4>Username</font>
          </th>
          <th>
            <font size=4>Email</font>
          </th>
        </tr>
        <br/>
        <tr *ngFor="let user of users">
          <td>
            <font>{{user.username}}</font>
          </td>
          <td>
            <font>{{user.email}}</font>
          </td>
          <td>
            <a><button type="button" name="button" class="btn btn-info" (click)="checkcoins(user._id)" (click)="form.show()">User Coins</button></a>
          </td>
        </tr>
      </table>
    </div>
</div>

<div mdbModal #form="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
                                                                        <!--Content-->
        <div class="modal-content">
                                                                        <!--Header-->
            <div class="modal-header info-color-dark white-text">
                <h4 class="title"><i class="fa fa-user"></i> <span *ngIf="show">{{user.username}}</span> Coins</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true" (click)="form.hide()">×</span>
                </button>
            </div>
                                                                          <!--Body-->
            <div class="modal-body">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>Coin</th>
                    <th>Available</th>
                  </tr>
                </thead>
                <tbody *ngIf="show">
                  <tr *ngFor="let coin of coins">
                    <td><img src="../../../../assets/pic/{{coin.coinName}}.png" style="width:25px;height:25px;"></td>
                    <td>{{coin.coinName}}&nbsp;&nbsp;<em style="color:#919499;font-size:12px;">SUB</em></td>
                    <td>{{coin.ammount}}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-center" *ngIf="coins?.length == 0">
                       <span>{{user.username}}</span>  have no Coins !!
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
                                                                          <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal" (click)="form.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>
