<app-navbar></app-navbar>
<div class="container-fluid grey lighten-2 pb-5" style="min-height:92vh;">
  <div class="container white" style="height:180px;">
    <table class="table table-hover">
      <thead class="primary-color">
        <tr>
          <td style="color:white;">
            Estimated Value
          </td>
          <td style="color:white;">
            Available
          </td>
          <td style="color:white;">
            In Order
          </td>
        </tr>
      </thead>
      <tr>
        <td>
          <strong style="font-size:20px;"> 1.000 </strong> BTC
        </td>
        <td>
          <strong style="font-size:20px;color:#12bc12;"> 0.5 </strong> BTC
        </td>
        <td>
          <strong style="font-size:20px;color:#ff613a;"> 0.5 </strong> BTC
        </td>
      </tr>
      <tr>
        <td>
          ~<strong style="font-size:18px;"> 56 </strong> $
        </td>
        <td>
          ~<strong style="font-size:18px;"> 28 </strong> $
        </td>
        <td>
          ~<strong style="font-size:18px;"> 28 </strong> $
        </td>
      </tr>
    </table>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div class="list-group col-2 ">
      <a routerLink="/overview" class="list-group-item list-group-item-action">Overview</a>
      <a routerLink="/deposit" class="list-group-item list-group-item-action active">Deposit</a>
      <a routerLink="/withdraw" class="list-group-item list-group-item-action ">Withdrawal</a>
      <a routerLink="/trade" class="list-group-item list-group-item-action">Trade History</a>
    </div>
    <div class="col-8">
      <div class=" card">
        <div class="card-header primary-color white-text">
          <h5 class="card-title">Deposit</h5>
        </div>
        <div class="card-body">
          <!-- <app-loading-spinner *ngIf="showSpinner" style="position:absolute;left:55%;"></app-loading-spinner> -->
          <div class="row">
            <mat-form-field class="col-4">
              <mat-select (change)="deposits(values[$event.target.selectedIndex])" placeholder="Select Coin">
                <mat-option [value]="v" *ngFor="let v of values" >
                  <img src="../../../../assets/pic/{{v.symbol}}BTC.png" width="30px" height="30px"/><font class="ml-3 mr-3">{{v.name}}</font>{{v.symbol}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-3 mt-4" >Available : <span style="color:#12bc12;">8</span></div>
            <div class="col-2 mt-4" >In Order : <span style="color:#ff613a">4</span></div>
          </div>
          <div class="mt-5">
            <div class="mb-1">
              Your <font style="color:red;"> XRPBTC</font> Shares Deposit address：<strong style="font-size:12px;">{{address}}</strong><br>
            </div>
            <div class="mb-2">
              <span> AddressTag : <strong style="font-size:12px;">{{addressTag}}</strong></span><br>
            </div>
            <div class="mb-1">
              <img src="../../../../assets/pic/qr.png" style="width:150px;height:150px;">
            </div>
          </div>

          <div class="col justify-content-center material-switch form-check-inline">
              <input class="form-check-input" id="someSwitchOptionSuccess" type="checkbox" (click)="TransectionID()"/>
              <label  for="someSwitchOptionSuccess"></label>Receive coins
          </div>
          <br><br>
          <form [formGroup]="form" (click)="onSubmit()" *ngIf="checks">
            <div class="row justify-content-center">
              <mat-form-field>
                <input matInput class="form-control-sm" formControlName="txid" placeholder="Transection ID" required>
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="form.controls.txid.errors?.required">
                    Transection ID is required !!!
                </mat-error>
              </mat-form-field>
            </div>
            <br>
            <div class="row justify-content-center form-group">
                <input [disabled]="!form.valid" type="submit" class="btn btn-primary"  value="Submit"/>
            </div>
          </form>
        </div>
        <div class="card-footer grey lighten-1">
          Tips:
          <ul>
            <li>Once you have sent coins/tokens to the above address <font style="color:red;"> Please submit your transaction ID to enable coins to be automatically allocated</font>  to your account.</li>
            <li>Coins will be deposited immediately after 30 network confirmation.</li>
            <li>The address is not allowed to deposit other assets other than <font style="color:red;"> {{coin}}</font>, and any other asset deposit will not be recovered</li>
          </ul>
      </div>
    </div>
  </div>
</div>
</div>
