<app-assets></app-assets>
<div class="container-fluid grey lighten-2 pb-5" style="min-height:60vh;">
  <div class="row justify-content-md-center">
    <div class="list-group col-2">
      <a routerLink="/overview" class="list-group-item list-group-item-action active">Overview</a>
      <a routerLink="/deposit" class="list-group-item list-group-item-action ">Deposit</a>
      <a routerLink="/withdraw" class="list-group-item list-group-item-action ">Withdrawal</a>
      <a routerLink="/trade" class="list-group-item list-group-item-action">Trade History</a>
    </div>
    <div class="col-8">
      <div class=" card">
        <div class="card-header primary-color white-text">
          <h5 class="card-title">Overview</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Coin</th>
                <th>Available</th>
                <th>Total <em style="color:#919499;font-size:12px;">(BTC)</em></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asset of assests">
                <td><img src="../../../../assets/pic/{{asset.coinName}}.png" style="width:25px;height:25px;"></td>
                <td>{{asset.coinName}}&nbsp;&nbsp;<em style="color:#919499;font-size:12px;">SUB</em></td>
                <td>{{asset.amount[0]}}</td>
                <td>{{asset.amount[1]}}</td>
                <td><button class="btn btn-success" routerLink="/deposit" style="height:30px">Deposit</button></td>
                <td><button class="btn btn-danger" routerLink="/withdraw" style="height:30px">Withdraw</button></td>
              </tr>
              <tr>
                <td colspan="6" class="text-center" *ngIf="assests?.length == 0">
                  You have no assets !!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
