<app-assets></app-assets>
<div class="container-fluid grey lighten-2 pb-5" style="min-height:80vh;">
  <div class="row justify-content-md-center">
    <div class="list-group col-2">
      <a routerLink="/overview" class="list-group-item list-group-item-action ">Overview</a>
      <a routerLink="/deposit" class="list-group-item list-group-item-action ">Deposit</a>
      <a routerLink="/withdraw" class="list-group-item list-group-item-action ">Withdrawal</a>
      <a routerLink="/trade" class="list-group-item list-group-item-action active">Trade History</a>
    </div>
    <div class="col-8">
      <div class=" card">
        <div class="card-header primary-color white-text">
          <h5 class="card-title">Trade History</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Coin</th>
                <th>Type</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="../../../../assets/pic/XRPBTC.png" style="width:50px;height:50px;"></td>
                <td>XRPBTC</td>
                <td>SELL</td>
                <td>0.00055 <em style="color:#919499;font-size:12px;">XRPBTC</em></td>
                <td>25 <em style="color:#919499;font-size:12px;">XRPBTC</em></td>
                <td>0.01809 <em style="color:#919499;font-size:12px;">BTC</em></td>
              </tr>
              <tr>
                <td><img src="../../../../assets/pic/AIONBTC.png" style="width:50px;height:50px;"></td>
                <td>AIONBTC</td>
                <td>SELL</td>
                <td>0.00055 <em style="color:#919499;font-size:12px;">AIONBTC</em></td>
                <td>25 <em style="color:#919499;font-size:12px;">AIONBTC</em></td>
                <td>0.01809 <em style="color:#919499;font-size:12px;">BTC</em></td>
              </tr>
              <tr>
                <td><img src="../../../../assets/pic/XLMBTC.png" style="width:50px;height:50px;"></td>
                <td>XLMBTC</td>
                <td>SELL</td>
                <td>0.00055 <em style="color:#919499;font-size:12px;">XLMBTC</em></td>
                <td>25 <em style="color:#919499;font-size:12px;">XLMBTC</em></td>
                <td>0.01809 <em style="color:#919499;font-size:12px;">BTC</em></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
