<app-assets></app-assets>
<div class="container-fluid grey lighten-2 pb-5" style="min-height:80vh;">
  <div class="row justify-content-md-center">
    <div class="list-group col-2">
      <a routerLink="/overview" class="list-group-item list-group-item-action ">Overview</a>
      <a routerLink="/deposit" class="list-group-item list-group-item-action ">Deposit</a>
      <a routerLink="/withdraw" class="list-group-item list-group-item-action ">Withdrawal</a>
      <a routerLink="/trade" class="list-group-item list-group-item-action active">Trade History</a>
    </div>
    <div class="col-8">
      <div class=" card">
        <div class="card-header primary-color white-text">
          <h5 class="card-title">Trade History</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Coin</th>
                <th>Type</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trade of filled">
                <td scope="row"><img src="../../../../assets/pic/{{trade.status.symbol}}.png" style="width:30px;height:30px;"></td>
                <td>{{trade.status.symbol}}</td>
                <td>{{trade.status.side}}</td>
                <td>{{trade.status.price}} &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
                <td>{{trade.status.origQty}} &nbsp;<em style="color:#919499;font-size:12px;">{{trade.status.symbol}}</em></td>
              </tr>
              <tr>
                <td colspan="6" class="text-center" *ngIf="filled?.length == 0">
                  You have no Trade History !!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
