<app-navbar></app-navbar>

<div class="container-fluid white-text" style="background-color: #272935;">
  <br>
  <div class="col text-center my-4">
    A secure and trustworthy crypto assets exchange
  </div>
  <div class="row pb-5">
    <div class="col-md-3">
      <img src="../../../assets/pic/thumbnail.png" alt="..." class="img-thumbnail">
    </div>
    <div class="col-md-3">
      <img src="../../../assets/pic/thumbnail.png" alt="..." class="img-thumbnail">
    </div>
    <div class="col-md-3">
      <img src="../../../assets/pic/thumbnail.png" alt="..." class="img-thumbnail">
    </div>
    <div class="col-md-3">
      <img src="../../../assets/pic/thumbnail.png" alt="..." class="img-thumbnail">
    </div>
  </div>
</div>

<div class="container-fluid col text-center mdb-color darken-4 white-text">
   【Real-name registeration Announcement】 Exchange will open real name registeration system More
</div>

<div class="container-fluid row justify-content-center my-5 pt-5">
  <div class="col-11" id="scripttag"></div>
</div>

<app-footer></app-footer>
