<table class="table col-sm-2 white-text mdb-color darken-2">
  <thead class="mdb-color darken-3">
    <tr>
        <th>
          Coin
        </th>
        <th>
          Price
        </th>
    </tr>
  </thead>
    <tr id="coin"  (click)="coin('ADA')">
      <td style="width:100px;">
        ADA
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
          {{rates.ADABTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('ADX')">
      <td style="width:100px;">
        ADX
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.ADXBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('AION')">
      <td style="width:100px;">
        AION
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.AIONBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('AE')">
      <td style="width:100px;">
        AE
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.AEBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('BNB')">
      <td style="width:100px;">
        BNB
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.BNBBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('BQX')">
      <td style="width:100px;">
        BQX
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.BQXBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('BCC')">
      <td style="width:100px;">
        BCC
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.BCCBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('XRP')">
      <td style="width:100px;">
        XRP
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.XRPBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('ICN')">
      <td style="width:100px;">
        ICN
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.ICNBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('NEO')">
      <td style="width:100px;">
        NEO
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.NEOBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('LINK')">
      <td style="width:100px;">
        LINK
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.LINKBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('SALT')">
      <td style="width:100px;">
        SALT
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.SALTBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('IOTA')">
      <td style="width:100px;">
        IOTA
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.IOTABTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('ETC')">
      <td style="width:100px;">
        ETC
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.ETCBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('KNC')">
      <td style="width:100px;">
        KNC
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.KNCBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('WTC')">
      <td style="width:100px;">
        WTC
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.WTCBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('SNT')">
      <td style="width:100px;">
        SNT
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.SNTBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('GAS')">
      <td style="width:100px;">
        GAS
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.GASBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('SNM')">
      <td style="width:100px;">
        SNM
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.SNMBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('BQX')">
      <td style="width:100px;">
        BQX
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.BQXBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('QTUM')">
      <td style="width:100px;">
        QTUM
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.QTUMBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('LTC')">
      <td style="width:100px;">
        LTC
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.LTCBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('ETH')">
      <td style="width:100px;">
        ETH
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.ETHBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('STRAT')">
      <td style="width:100px;">
        STRAT
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.STRATBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('BCC')">
      <td style="width:100px;">
        BCC
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.BCCBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('OMG')">
      <td style="width:100px;">
        OMG
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.OMGBTC}}
      </td>
    </tr>
    <tr id="coin"  (click)="coin('MCO')">
      <td style="width:100px;">
        MCO
      </td>
      <td style="width:100px;font-size:15px;" *ngIf="show">
        {{rates.MCOBTC}}
      </td>
    </tr>
</table>
