<app-navbar></app-navbar>
<div class="container-fluid grey lighten-2 pb-5">
  <div class="container white">
    <table class="table table-hover">
      <thead class="primary-color">
        <tr>
          <td style="color:white;">
            Estimated Value
          </td>
          <td style="color:white;">
            Available
          </td>
          <td style="color:white;">
            In Order
          </td>
        </tr>
      </thead>
      <tr>
        <td>
          <strong style="font-size:20px;"> 1.000 </strong> BTC
        </td>
        <td>
          <strong style="font-size:20px;color:#12bc12;"> 0.5 </strong> BTC
        </td>
        <td>
          <strong style="font-size:20px;color:#ff613a;"> 0.5 </strong> BTC
        </td>
      </tr>
      <tr>
        <td>
          ~<strong style="font-size:18px;"> 56 </strong> $
        </td>
        <td>
          ~<strong style="font-size:18px;"> 28 </strong> $
        </td>
        <td>
          ~<strong style="font-size:18px;"> 28 </strong> $
        </td>
      </tr>
    </table>
  </div>
</div>
