<footer class="page-footer text-center text-md-left pt-5" style="background-color: #272935;">
    <div class="container">
        <div class="row">
                                                                                <!--First column-->
            <div class="col-md-3">
                <img src="../../../assets/pic/logo.png" alt="placeholder image" width=170px >
                <br><br>
                <p>A secure and trustworthy crypto assets exchange.</p>
            </div>
            <hr class="hidden-md-up">
                                                                                <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title" style="font-weight: 600;">Services</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Exchange</a>
                    </li>
                    <li>
                        <a href="#!">Support</a>
                    </li>
                    <li>
                        <a href="#!">Submit a request</a>
                    </li>
                </ul>
            </div>
            <hr class="hidden-md-up">
                                                                                  <!--Third column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title" style="font-weight: 600;">Clause Instruction</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Fees</a>
                    </li>
                    <li>
                        <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!">User Agreement</a>
                    </li>
                </ul>
            </div>

            <hr class="hidden-md-up">
                                                                                      <!--Fourth column-->
            <div class="col-md-2 ">
                <h5 class="title" style="font-weight: 600;">About Us</h5>
                <ul class="list-unstyled">
                    <li>
                      <a href="#!">Contact Us</a>
                    </li>
                    <li>
                      <a href="#!">Apply to List</a>
                    </li>
                    <li>
                      <a href="#!">Customer Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

    <!--Call to action-->
    <!-- <div class="call-to-action text-center py-3">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <h5>Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>Sign up!</a>
            </li>
        </ul>
    </div>
    <hr> -->
    <div class="text-center mb-3">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright:
            <a href="https://www.g7tech.org"> G7Tech.org </a>
        </div>
    </div>
</footer>
