<app-navbar></app-navbar>
                                                              <!-- Background -->
<div class="container-fluid mdb-color lighten-1" style="min-height:95vh">
                                                              <!-- Content -->
  <div class="container-fluid row pt-5 pl-5">
                                                              <!-- Rates Section -->
    <div class="col-3 mdb-color darken-3 ml-4" id="style-7" style="overflow:scroll;height:135vh;">
      <app-rates></app-rates>
    </div>
                                                              <!-- Right Section -->
    <div class="row col-8 ml-2" >
                                                                  <!-- Graph -->
      <div class="row col-12 mdb-color darken-3" id="tradingview_8e6fe" style="height:80vh">
        <app-graph></app-graph>
      </div>
                                                                  <!-- Below Graph -->
      <div class="row col-12 mdb-color darken-3 mt-2">
                                                                <!-- Trading Section -->
        <div class="row col-10" style="height:54vh">
                                                                <!-- Buy Section -->
          <div class="container-fluid row show-hide-message mdb-color darken-3">
            <div class="col-12 text-center">
              <flash-messages></flash-messages>
            </div>
          </div>
          <div class="row col-6 white-text">
            <h5 class="mt-4 green-text"> <strong>Buy {{coinz}}</strong> </h5>
            <form [formGroup]="buy" class="ml-2" (submit)="onSubmitBuy()">
              <mat-form-field class="col-10">
                <input matInput type="number" formControlName="price" autocomplete="off" value="{{prize}}" [(ngModel)]="p1" >
                <mat-placeholder class="placeholder">Price</mat-placeholder>
                <mat-icon matSuffix>attach_money</mat-icon>
                <mat-error *ngIf="buy.controls.price.errors?.required">
                    Price is required !!!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-10">
                <input matInput type="number" formControlName="quantity" autocomplete="off" [(ngModel)]="a1" >
                <mat-placeholder class="placeholder">Quantity</mat-placeholder>
                <mat-icon matSuffix>shopping_cart</mat-icon>
                <mat-error *ngIf="buy.controls.quantity.errors?.required">
                    Quantity is required !!!
                </mat-error>
              </mat-form-field>
              <div>
                <font class="ml-3" style="font-size:13px;color:#c4c9d1;">Available&nbsp; : </font><font style="font-size:13px;color:#e3e7ef;">{{bitcoin | number:'1.1-8'}}</font> <br/>
                <font class="ml-3" style="font-size:13px;color:#c4c9d1;">Amount&nbsp;&nbsp; :&nbsp;&nbsp;</font><font style="font-size:13px;color:#e3e7ef;">{{(+a1) * 10}}</font>
              </div>
              <div class="mt-2">
                <button [disabled]="!buy.valid || processing" type="submit" class="col-10  btn btn-success waves-light" mdbWavesEffect>Buy {{coinz}}</button>
              </div>
            </form>
          </div>
                                                                    <!-- Sell Section -->
          <div class="row col-6 border border-top-0 border-bottom-0 border-dark">
            <h5 class="mt-4 red-text"> <strong>Sell {{coinz}}</strong> </h5>
            <form [formGroup]="sell" class="ml-2 white-text" (submit)="onSubmitSell()">
              <mat-form-field class="col-10">
                <input matInput type="number" formControlName="price" autocomplete="off" value="{{prize}}" [(ngModel)]="p2" >
                <mat-placeholder class="placeholder">Price</mat-placeholder>
                <mat-icon matSuffix>attach_money</mat-icon>
                <mat-error *ngIf="sell.controls.price.errors?.required && sell.controls.price.dirty">
                    Price is required !!!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-10">
                <input matInput type="number" formControlName="quantity" autocomplete="off" [(ngModel)]="a2" >
                <mat-placeholder class="placeholder">Quantity</mat-placeholder>
                <mat-icon matSuffix>shopping_cart</mat-icon>
                <mat-error *ngIf="sell.controls.quantity.errors?.required && sell.controls.quantity.dirty">
                    Quantity is required !!!
                </mat-error>
              </mat-form-field>
              <div>
                <font class="ml-3" style="font-size:13px;color:#c4c9d1;">Available&nbsp; : </font><font style="font-size:13px;color:#e3e7ef;">{{altcoin | number}}</font> <br/>
                <font class="ml-3" style="font-size:13px;color:#c4c9d1;">Amount&nbsp;&nbsp; :&nbsp;&nbsp;</font><font style="font-size:13px;color:#e3e7ef;">{{a2*p2}}</font>
              </div>
              <div class="mt-2">
                <button  [disabled]="!sell.valid || processing" type="submit" class="col-10 btn btn-danger waves-light" mdbWavesEffect>SEll {{coinz}}</button>
              </div>
            </form>
          </div>
        </div>
                                                                        <!-- Bid & Ask -->
        <div class="row col-2" style="height:54vh">

          <table class="table mytable table-sm table-hover white-text">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ask of bidsasks">
                <td scope="row" style="font-size:10px;">ASk</td>
                <td style="font-size:10px;">{{ask.askQty | number}}</td>
                <td class="red-text"  style="font-size:10px;">{{ask.askPrice}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table mytable table-sm table-hover white-text">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bid of bidsasks">
                  <td scope="row" style="font-size:10px;">BID</td>
                  <td style="font-size:10px;">{{bid.bidQty | number}}</td>
                  <td class="green-text" style="font-size:10px;">{{bid.bidPrice}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
                                                                    <!-- Market History -->
    <div class="col-3 mdb-color darken-3 ml-4 my-2" style="height:60vh;">
      <h5 class="white-text pt-4">Market Trades</h5>
      <table class="table mytable table-hover white-text">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mark of market">
            <td scope="row"><span *ngIf="mark.maker" style="color:red;">Sell</span><span *ngIf="!mark.maker" style="color:green;">Buy</span></td>
            <td>{{mark.quantity | number}}</td>
            <td>{{mark.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row col-8 ml-2 my-2" >
      <div class="row col-12 mdb-color darken-3" style="height:60vh">
        <mat-tab-group>
          <mat-tab label="Open Orders">
            <ng-template matTabContent>
              <table class=" table table-hover white-text">
                <thead>
                  <tr>
                    <th style="width:20%;">Coin</th>
                    <th style="width:20%;">Type</th>
                    <th style="width:20%;">Price</th>
                    <th style="width:20%;">Ammount</th>
                    <th style="width:20%;">Total</th>
                    <th style="width:20%;">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trade of unfilled">
                    <td scope="row">{{trade.status.symbol}}</td>
                    <td>{{trade.status.side}}</td>
                    <td>{{trade.status.price}}</td>
                    <td>{{trade.status.origQty}}</td>
                    <td>{{trade.status.price*trade.status.origQty}}</td>
                    <td>UNFILLED</td>
                    <td>
                        <button class="btn btn-danger" (click)="cancelone(trade.status.orderId,trade.status.symbol)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-center" *ngIf="unfilled?.length == 0">
                      You have no Open Orders !!
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </mat-tab>
          <mat-tab label="Closed Orders">
            <ng-template matTabContent>
              <table class="col-12 table table-hover white-text">
                <thead>
                  <tr>
                    <th style="width:25%">Coin</th>
                    <th style="width:25%">Type</th>
                    <th style="width:25%">Price</th>
                    <th style="width:25%">Ammount</th>
                    <th style="width:25%">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trade of filled">
                    <td scope="row">{{trade.status.symbol}}</td>
                    <td>{{trade.status.side}}</td>
                    <td>{{trade.status.price}} &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
                    <td>{{trade.status.origQty | number}} &nbsp;<em style="color:#919499;font-size:12px;">{{trade.status.symbol}}</em></td>
                    <td>{{(trade.status.origQty*trade.status.price) | number:'1.1-8'}} &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-center" *ngIf="filled?.length == 0">
                      You have no Closed Orders !!
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
